<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.ali.today.mypet.repository.IMypetMapper">

	<!-- DB 컬럼명과 VO 클래스의 필드명 맵핑작업 -->
	<resultMap id="MypetMap" type="com.ali.today.mypet.model.LifetimeVO">
		
		<id property="cardId" column="card_id" />
		<result property="petId" column="pet_id"/>
		<result property="userId" column="user_id"/>
		<result property="date" column="date"/>
		<result property="content" column="content"/>
		<result property="imagePath" column="image_path"/>
		
	</resultMap>

	
	<!-- 생애기록 추가 -->
	<insert id="insertCard">
		INSERT INTO lifetime_card (pet_id, user_id, date, content, image_path)
		VALUES (#{petId}, #{userId}, #{date}, #{content}, #{imagePath})
	</insert>
	
	
	
	<!-- 특정 생애기록 카드 조회 -->
	<select id="getLifeCard" resultMap="MypetMap">
		SELECT * FROM lifetime_card
		WHERE card_id = #{cardId}
	</select>
	
	
	
	<!-- 특정 반려동물 생애기록 전체조회 -->
	<select id="getLifetimeCardList" resultMap="MypetMap">
		SELECT * FROM lifetime_card
		WHERE pet_id = #{petId}
		ORDER BY date
	</select>
	
	
	
	<!-- 생애기록 카드 수정 -->
	<update id="updateCard">
		UPDATE lifetime_card
		SET date = #{date}, content = #{content}
		<if test="imagePath != null">  <!-- 이미지 변경한 경우 -->
		, image_path = #{imagePath}
		</if>
		WHERE card_id = #{cardId}
	</update>
	
	
	
	<!-- 생애기록 카드 삭제 -->
	<delete id="deleteCard">
		DELETE FROM lifetime_card
		WHERE card_id = #{cardId}
	</delete>
	
	
	<!-- 회원탈퇴시 생애기록 전체 삭제 -->
	<delete id="deleteAllCard">
		DELETE FROM lifetime_card
		WHERE pet_id IN(SELECT pet_id FROM pet WHERE user_id = #{userId});
	</delete>
	
	
	<!-- 반려견 삭제시 해당 반려견 생애기록 전부 삭제 -->
	<delete id="deleteAllPetCard">
		DELETE FROM lifetime_card
		WHERE pet_id = #{petId}
	</delete>
	
</mapper>